// variables
$dark: #424652;
$light: #9a9da4;
$heilight: #8bc6db;
$border: #E9E9E9;

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: 'Raleway', sans-serif;
}

#main_navigation {
	padding: 2.5em 5%;
	border-bottom: 1px solid $border;
	.name {
		font-weight: 700;
		letter-spacing: 4px;
		font-size: 0.8em;
		text-transform: uppercase;
		text-decoration: none;
		border: 2px solid $border;
		padding: 1rem;
		color: $dark;
		float: left;
	}
	nav {
		float: right;
		padding-top: 1.45rem;
		a {
			color: $dark;
			text-decoration: none;
			margin: 0 1rem;
			font-size: 1rem;
		}
	}
}